* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 100%;
  max-width: 430px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 12px 18px;
  border: none;
  background: #4facfe;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.search-box button:hover {
  background: #238bfe;
}

.error {
  color: red;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.weather {
  margin-top: 20px;
  text-align: center;
}

.weather-icon {
  width: 120px;
  margin-bottom: 10px;
}

.details p {
  margin: 8px 0;
  font-size: 17px;
}
