* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
    transition: 0.3s;
}

.container {
    background: white;
    padding: 30px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#clock {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
}

#date {
    font-size: 20px;
    margin-top: 10px;
    color: #666;
}

button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
}

/* Dark Mode */
.dark {
    background: #121212;
}

.dark .container {
    background: #222;
    color: white;
}

.dark button {
    background: white;
    color: black;
}



.tick {
    animation: pop 0.2s ease;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


