body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 40px;
}

:root {
    --bg: #f4f4f4;
    --text: #111;
    --calc-bg: white;
    --btn-bg: #eee;
}

.dark {
    --bg: #111;
    --text: #fff;
    --calc-bg: #222;
    --btn-bg: #444;
}

.calculator {
    background: var(--calc-bg);
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#display {
    width: 100%;
    height: 55px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
    background: var(--btn-bg);
    color: var(--text);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 18px;
    background: var(--btn-bg);
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.btn:active {
    transform: scale(0.92);
}

.equal {
    grid-row: span 2;
    background: #1e88e5;
    color: white;
}

.theme-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--btn-bg);
    border: none;
    font-size: 22px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.history-section {
    margin-left: 30px;
}

#historyList {
    background: var(--calc-bg);
    padding: 15px;
    margin-top: 10px;
    width: 200px;
    height: 250px;
    overflow-y: auto;
    border-radius: 10px;
}
